@font-face {font-family: "Tiamat Condensed SC Regular";
    src: url("http://db.onlinewebfonts.com/t/e3e794f35cf6e4475f17d8f7a91df0a5.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/e3e794f35cf6e4475f17d8f7a91df0a5.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/e3e794f35cf6e4475f17d8f7a91df0a5.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/e3e794f35cf6e4475f17d8f7a91df0a5.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/e3e794f35cf6e4475f17d8f7a91df0a5.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/e3e794f35cf6e4475f17d8f7a91df0a5.svg#Tiamat Condensed SC Regular") format("svg"); /* iOS 4.1- */
}

#mainHeader{
color:rgb(210, 210, 210);
font-family: Tiamat Condensed SC Regular;
letter-spacing: .05em;
text-align: center;
font-size: 4em;
font-weight: 80;
border: .20em solid rgb(171,164,153);
padding: -25%;
border-radius: 10px;
margin: 3%;
margin-right: auto;
margin-left: auto;
background-color: rgb(40,40,40);
}

#creationArea{
    background-color: rgb(40,40,40);
    border: 4px solid rgb(171,164,153);
    border-radius: 10px;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

#creationAreaTop{
    margin: 1.5em;
}

#creationAreaLabel{
    border: 5px solid rgb(171,164,153);
    border-radius: 10px;
    color:rgb(210, 210, 210);
    font-family: Georgia, serif;
    text-align: center;
    font-size: 2.25em;
    font-weight: bolder;
    padding: 0.2em;
}

#staffCreationList{
    color:rgb(210, 210, 210);
    margin-top: 0.25em;
    width: 6em;
    font-family: Georgia, serif;
    font-size: 2em;
    font-weight: 1em;
    margin-top: 0.7em;
    text-align: center;
    border: 0px solid rgb(171,164,153);
    border-radius: 10px;
    background-color: rgb(100,100,100)
}

#staffCreationSubmit{
    color: rgb(210, 210, 210);
    margin: 0.5em;
    font-family: Georgia, serif;
    font-size: 2em;
    border: 3px solid rgb(171,164,153);
    border-radius: 10px;
    background-color: rgb(80,80,80);
    font-weight: bolder;
}

#staffTable{
    background-color: rgb(40,40,40);
    border: 0.25em solid rgb(171,164,153);
    border-radius: 1em;
    margin: auto;
    border-collapse: collapse;
    
}

#staffTablePosition{
    font-family: Georgia, serif;
    font-size: 2.5em;    
    font-weight: bolder;
    color:rgb(210, 210, 210);
    border-right: 0.12em solid rgb(171,164,153);
    border-bottom: 0.12em solid rgb(171,164,153);
    padding: 0.2em;
}

#positionBartender{
    font-family: Georgia, serif;
    font-size: 2.5em;
    font-weight: bolder;
    color:rgb(210, 210, 210);
    margin: 1em;
    border-right: 0.12em solid rgb(171,164,153);
    border-bottom: 0.12em solid rgb(171,164,153);
    padding: 0.2em;
}

#positionServer{
    font-family: Georgia, serif;
    font-size: 2.5em;
    font-weight: bolder;
    color:rgb(210, 210, 210);
    margin: 1em;
    border-right: 0.12em solid rgb(171,164,153);
    border-bottom: 0.12em solid rgb(171,164,153);
    padding: 0.2em;
}

#positionCook{
    font-family: Georgia, serif;
    font-size: 2.5em;
    font-weight: bolder;
    color:rgb(210, 210, 210);
    margin: 1em;
    border-right: 0.12em solid rgb(171,164,153);
    border-bottom: 0.12em solid rgb(171,164,153);
    padding: 0.2em;
}

#positionGuard{
    font-family: Georgia, serif;
    font-size: 2.5em;
    font-weight: bolder;
    color:rgb(210, 210, 210);
    margin: 1em;
    border-bottom: 0.12em solid rgb(171,164,153);
    padding: 0.2em;
}

#staffTableCount{
    font-family: Georgia, serif;
    font-size: 2.5em;    
    font-weight: bolder;
    color:rgb(210, 210, 210);
    border-right: 0.12em solid rgb(171,164,153);
    border-top: 0.12em solid rgb(171,164,153);
    padding: 0.2em;
}

#countBartender{
    font-family: Georgia, serif;
    font-size: 2.5em;
    font-weight: bolder;
    color:rgb(210, 210, 210);
    margin: 1em;
    border-right: 0.12em solid rgb(171,164,153);
    border-top: 0.12em solid rgb(171,164,153);
    padding: 0.2em;
}

#countServer{
    font-family: Georgia, serif;
    font-size: 2.5em;    
    font-weight: bolder;
    color:rgb(210, 210, 210);
    margin: 1em;
    border-right: 0.12em solid rgb(171,164,153);
    border-top: 0.12em solid rgb(171,164,153);
    padding: 0.2em;
}

#countCook{
    font-family: Georgia, serif;
    font-size: 2.5em;    
    font-weight: bolder;
    color:rgb(210, 210, 210);
    margin: 1em;
    border-right: 0.12em solid rgb(171,164,153);
    border-top: 0.12em solid rgb(171,164,153);
    padding: 0.2em;

}

#countGuard{
    font-family: Georgia, serif;
    font-size: 2.5em;    font-weight: bolder;
    color:rgb(210, 210, 210);
    margin: 1em;
    border-top: 0.12em solid rgb(171,164,153);
    padding: 0.2em;
}

#creationAreaBottom{
    margin: 1.5em;
}

#inputArea{
    background-color: rgb(40,40,40);
    border: 4px solid rgb(171,164,153);
    border-radius: 10px;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

#inputAreaTop{
    margin: 1.5em;
}

#daysLabel{
    border: 5px solid rgb(171,164,153);
    border-radius: 10px;
    border-radius: 10px;
    color:rgb(210, 210, 210);
    font-family: Georgia, serif;
    text-align: center;
    font-size: 2.25em;
    font-weight: bolder;
    padding: 0.1em;
}

#daysToGenerateTextBox{
    color:rgb(210, 210, 210);
    margin-top: 0.5em;
    width: 2em;
    font-family: Georgia, serif;
    font-size: 3em;
    font-weight: 1em;
    text-align: center;
    border: 0px solid rgb(171,164,153);
    border-radius: 10px;
    background-color: rgb(110,110,110)
}

#daysToGenerateSubmit{
    color: rgb(210, 210, 210);
    margin: 0.5em;
    font-family: Georgia, serif;
    font-size: 2em;
    border: 3px solid rgb(171,164,153);
    border-radius: 10px;
    background-color: rgb(80,80,80);
    font-weight: bolder;
}

#daysToGenerateClear{
    color: rgb(210, 210, 210);
    margin-right: 2em;
    font-family: Georgia, serif;
    font-size: 2em;
    border: 3px solid rgb(171,164,153);
    border-radius: 10px;
    background-color: rgb(80,80,80);
    font-weight: bolder;
}

body{
    text-align: center;
}